<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iot.mapper.BeaconUniqueInfoMapper">

	<resultMap id="beaconUniqueInfo-resultMap" type="BeaconUniqueInfo">
		<id column="_source_mac_address" property="source_mac_address" jdbcType="VARCHAR" />
		<result column="_ap_mac_address" property="ap_mac_address" jdbcType="VARCHAR" />
		<result column="_frame_id" property="frame_id" jdbcType="VARCHAR" />
		<result column="_time_received" property="time_received" jdbcType="VARCHAR" />
		<result column="_rssi_at_receiving" property="detected_rssi" jdbcType="VARCHAR" />
		<result column="_payload" property="payload" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		b._source_mac_address,b._frame_id,b._time_received,b._rssi_at_receiving,b._payload
	</sql>

	<sql id="Where_Clause">
		<where>
			1 = 1
			<if test="source_mac_address_exact != null and source_mac_address_exact != ''">
				and b._source_mac_address = #{source_mac_address_exact}
			</if>
			<if test="source_mac_address != null and source_mac_address != ''">
				and b._source_mac_address like "%"#{source_mac_address}"%"
			</if>
			<if test="frame_id_exact != null and frame_id_exact != ''">
				and b._frame_id = #{frame_id_exact}
			</if>
		</where>
	</sql>

	<select id="getList" resultMap="beaconUniqueInfo-resultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from unique_ap_beacon_frames b
		<include refid="Where_Clause" />
		<if test="start!=null and limit!=null and limit>0">limit #{start},#{limit} </if>
	</select>
	
	<select id="getListForUpdate" resultMap="beaconUniqueInfo-resultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from unique_ap_beacon_frames b
		<include refid="Where_Clause" />
		order by b._time_received desc
		<if test="start!=null and limit!=null and limit>0">limit #{start},#{limit} </if>
		for update
	</select>
	
	<select id="isExist"  resultType="Integer" parameterType="map">
		select
		count(1)
		from unique_ap_beacon_frames b
		<where>
			1 = 1
			<if test="(source_mac_address_exact == null or source_mac_address_exact == '')
					  and (frame_id_exact == null or frame_id_exact == '')">
				and 1 <![CDATA[ <> ]]> 1
			</if>
			<if test="source_mac_address_exact != null and source_mac_address_exact != ''">
				and b._source_mac_address = #{source_mac_address_exact}
			</if>
			<if test="frame_id_exact != null and frame_id_exact != ''">
				and b._frame_id = #{frame_id_exact}
			</if>
		</where>
	</select>
	
	<select id="getCount" resultType="Integer" parameterType="map">
		select
		count(1)
		from unique_ap_beacon_frames b
		<include refid="Where_Clause" />
	</select>

	<insert id="insert" parameterType="BeaconUniqueInfo" useGeneratedKeys="false" keyProperty="id">
		insert into unique_ap_beacon_frames (_source_mac_address,_frame_id,_time_received,_rssi_at_receiving,_payload,_ap_mac_address)
		values (#{source_mac_address}, #{frame_id}, #{time_received},#{detected_rssi},#{payload},#{ap_mac_address})
	</insert>
	
</mapper>
